

{% extends 'farmer/farmer_home.html' %}
{% load static %} 
{% block content %}
{% if msg %}
<script>
    alert("{{msg}}")
</script>
{% endif %}


<!-- register -->
<div class="alert alert-secondary mt-5" >
    <div class="container mt-5">
        <div style="margin:0px 200px;">
        <h3 class="mt-5" >Add Products</h3>
        
        {% comment %} <div class="login-form-grids"> {% endcomment %}
            <h5>Product information</h5>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <select name="Category" class="form-control">
                    <option value="" selected disabled>Category*</option>
                    <option value="vegetables">vegetables</option>
                    <option value="fruits">Fruits</option>
                    <option value="dairyproduct">dairy products</option>
                    <!-- {% comment %} <option value="Oil">dairy products</option> {% endcomment %} -->
                    <!-- {% comment %} fruits, vegetables, grains, dairy products such as milk and cheese, and meat {% endcomment %} -->
                </select><br>

                <input type="file" placeholder="Image..." required=" " name="Image"class="form-control"><br>
                <input type="text" placeholder=" Product Name..." required=" " name="Product Name"class="form-control">
                <br>
                <input type="text" placeholder="Stock" required=" " name="Stock"class="form-control"><br>
                <input type="text" placeholder="Price" required=" " name="Price"class="form-control">
                <input type="submit" value="Submit"class="btn btn-success mt-5 ">
            </form>
        </div>
        </div>
        
        </div>
    </div>
</div>
{% endblock %}
<!-- //register -->
