{% extends 'admin/admin_home.html' %}
{% load static %} 
{% block content %}
{% if msg %}
<script>
    alert("{{msg}}")
</script>
{% endif %}
<br>
<br>
<br>
<br>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<div class="row">

      <div class="col-3">

      </div>
      
      <div class="col-6">
                    <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
      
                      <div class="form-outline mb-4">
                        <input type="text" id="form3Example1cg" class="form-control form-control-sm one"name="a1" />
                        <label class="form-label" for="form3Example1cg">Seed Name</label>
                      </div>
      
                      <div class="form-outline mb-4">
                        <input type="text" id="form3Example1cg" class="form-control form-control-sm one"name="a2"/>
                        <label class="form-label" for="form3Example1cg">quantity</label>
                      </div>
      
                      <div class="form-outline mb-4">
                        <input type="text" id="form3Example1cg" class="form-control form-control-sm one"name="a3"/>
                        <label class="form-label" for="form3Example1cg">Rate</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="hidden" id="form3Example1cg" class="form-control form-control-sm one"name="a4" value="seed"/>

                        <!-- <label class="form-label" for="form3Example1cg">Rate</label> -->
                      </div>
      
                      <div class="form-outline mb-4">
                        <input type="file" placeholder="Image..." required=" " name="Image"class="form-control">
                        <label class="form-label" for="form3Example1cg">Product Image</label>
                      </div>
      
                      <!--<div class="form-outline mb-4">
                        <input type="email" id="form3Example3cg" class="form-control form-control-sm one"name="a5" />
                        <label class="form-label" for="form3Example3cg">Email</label>
                      </div>
      
                      <div class="form-outline mb-4">
                        <input type="password" id="form3Example4cg" class="form-control form-control-sm one"name="a6"/>
                        <label class="form-label" for="form3Example4cg">Password</label>
                      </div>
      
                      <div class="form-outline mb-4">
                        <input type="password" id="form3Example4cdg" class="form-control form-control-sm one"name="a7"/>
                        <label class="form-label" for="form3Example4cdg">Repeat Password</label>
                      </div>
       -->
                     
      
                      <div class="d-flex justify-content-center">
                        <button type="submit"
                          class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Add</button>
                      </div>
      
                      <!-- <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!" -->
                          <!-- class="fw-bold text-body"><u>Login here</u></a></p> -->
      
                    </form>
      
                </div>
                <div class="col-3">

                </div>
  
</div>








{% endblock %}
