{% extends 'admin/admin_home.html' %} {% load static %} {% block content %} 
{% if msg %}

<script>
  alert("{{msg}}");
</script>
{% endif %}
<style>
  .one {
    width: 50%;
    background-color: blue;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    padding: 20px;
  }
</style>
<!-- collections -->
<div class="mt-5">
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="mt-5">
    <div class="row">
      {% for i in abcd %}
      <h2>{{i.fid.f_name}}</h2>
      <h4>Address:{{i.f_address}}</h4>
      <h4>Location:{{i.f_loca}}</h4>
      <h2 style="color:forestgreen;">Paid Rs{{total}}</h2>
      
      {% endfor %}

      {% for i in abc%}
      <div class="col-3">
        {% comment %} ============================ {% endcomment %}

        <div class="card" style="width: 18rem; height: 25rem">
          <img
            src="/static/assets/image/{{i.sid.s_img}}"
            class="card-img-top"
            style="height: 200px"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{i.sid.s_name}}</h5>
            <p class="card-text">Stock &nbsp : &nbsp{{i.s_cart_stock}}</p>
            <p class="card-text">Rate &nbsp &nbsp : &nbsp{{i.sid.s_rate}}</p>
            <p class="card-text">Name &nbsp &nbsp : &nbsp{{i.fid.f_name}}</p>
            <p class="card-text">Address &nbsp &nbsp : &nbsp{{i.fid.f_address}}</p>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>

    {% if abc %}
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Delivered" class="btn btn-success float-end">
    </form>
    {% endif %}
    <br /><br /><br /><br /><br />
    <!-- //collections -->
    {% endblock %}
  </div>
</div>
